*{
    margin: 0px;
    padding: 0px;
}


.btn-outline-success{
    color: white;
    border-color: white;
}

.btn-outline-success:hover{
    background-color: white;
    color: black;
}

.card{
    /* margin-right: 10px; */
    height: 100%;
}

.card_wrapper{
    margin-top: 10px;
    min-height: 350px;
}

.card-img-top{
    width: 200px;
}

.picture_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

/* @media (max-width: 760px) {
    .card{
        margin: 0px;
    }
} */